In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('Mall_Customers.csv')

In [5]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [7]:
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [26]:
df.duplicated().sum()

0

In [30]:
df.drop_duplicates(inplace=True)

In [32]:
df['Gender'] = df['Gender'].str.strip().str.capitalize()

In [34]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [39]:

df.dtypes

customerid                 int64
gender                    object
age                        int64
annual_income_(k$)         int64
spending_score_(1-100)     int64
dtype: object

In [41]:
df.to_csv('cleaned_mall_customers.csv', index=False)